html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* if I use body I loose style for iframe in article */
.page {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1240px;
  background: url(/images/sunset.jpg) no-repeat center fixed;
}

/* Will have nav in sidebar so making seperate class instead of styling nav */
.top-nav-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(200, 200, 200);
<<<<<<< HEAD
<<<<<<< HEAD
=======

  /* Dont need sticky because of iframe */
>>>>>>> features
=======

>>>>>>> b987ccb3f91548e7ab6fa6d6ea235b63289739c8
}

.top-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-around;
  align-items: center;

  /* So justify-content has a width  */
  min-width: 100%;
}

<<<<<<< HEAD
<<<<<<< HEAD
.top-nav > div {
  padding: 1em;
  height: 100%;
=======
=======
>>>>>>> b987ccb3f91548e7ab6fa6d6ea235b63289739c8
li {
  display: block;
  transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;
}

/* .top-nav > div {
padding: 1em;
height: 100%;
<<<<<<< HEAD
>>>>>>> features
=======

>>>>>>> b987ccb3f91548e7ab6fa6d6ea235b63289739c8
}

.top-nav > div:hover,
.top-nav > div:active {
<<<<<<< HEAD
<<<<<<< HEAD
  background-color: rgb(220, 220, 220);
}

.top-nav a {
  color: rgb(10, 10, 220);
  text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  color: rgb(10, 10, 220);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(240, 240, 240);
  min-width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

  /* z-index 1 keeps it hidden  */
  z-index: 2;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(10, 10, 220);
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}
=======
=======

>>>>>>> b987ccb3f91548e7ab6fa6d6ea235b63289739c8
background-color: rgb(220, 220, 220);
}

.top-nav a {
color: rgb(10, 10, 220);
text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */

/* .dropdown {
position: relative;
display: inline-block;
color: rgb(10, 10, 220);
}

/* Dropdown Content (Hidden by Default) */

/* .dropdown-content {
display: none;
position: absolute;
background-color: rgb(240, 240, 240);
min-width: 100%;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
z-index: 1;
} */

/* Show the dropdown menu on hover */

/* .dropdown:hover .dropdown-content {
display: block;
} */

/* Links inside the dropdown */

/* .dropdown-content a {
color: rgb(10, 10, 220);
padding: 5px 10px;
text-decoration: none;
display: block;
}  */
<<<<<<< HEAD
>>>>>>> features
=======

>>>>>>> b987ccb3f91548e7ab6fa6d6ea235b63289739c8

.skip a {
  display: block;
  position: absolute;
  left: -999px;
  top: -999px;
}

.skip a:focus {
<<<<<<< HEAD
<<<<<<< HEAD
=======
  left: 20em;
  top: 1em;
  background: rgb(125, 125, 125);
  border-radius: 0.3em;
  color: rgb(245, 10, 10);
  padding: 1em;
}

>>>>>>> b987ccb3f91548e7ab6fa6d6ea235b63289739c8
  left: 10em;
  top: 0;
  background: rgb(255, 0, 0);
}

.dropdown-content a:hover {
  background-color: rgb(220, 220, 220);
}
<<<<<<< HEAD
=======
  left: 20em;
  top: 1em;
  background: rgb(125, 125, 125);
  border-radius: 0.3em;
  color: rgb(245, 10, 10);
  padding: 1em;
}

/* .dropdown-content a:hover {
background-color: rgb(220, 220, 220);
} */
>>>>>>> features

main {
  display: -webkit-box;
  display: flex;
<<<<<<< HEAD

  /* flex-direction: column; */
=======
>>>>>>> features
}
=======



>>>>>>> b987ccb3f91548e7ab6fa6d6ea235b63289739c8

.frame {
  width: 100%;
  border: 0;

  /* make room for header and footer */
  min-height: calc(100vh - 6.5em);
}

article {
  background-color: rgb(240, 240, 220);
  -webkit-box-ordinal-group: 2;
  order: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  padding: 0 1em;
}

.vert-nav {
  background-color: orange;
  padding: 0 1em;
  border: 1px solid red;
}

footer {
  display: flex;
  background-color: rgb(200, 200, 200);
}

<<<<<<< HEAD
/* body *:not(.main):not(.printable) {
<<<<<<< HEAD
  display: none;
} */

@media print {
  body *:not(.printable) {
    display: none;
  }

  /* body *:not(.printable) {
    display: none;
  } */

  /* .printable * {
  display: block;
  color: blue;
  } */
=======
display: none;
} */
@media print {
  body *:not(.printable):not(p):not(h1) {
    display: none;
  }
>>>>>>> features
}
=======

@media print {
  body *:not(.printable):not(p):not(h1) {
    display: none;
 }

>>>>>>> b987ccb3f91548e7ab6fa6d6ea235b63289739c8
